<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.338638865390-tdgpupo59durdck5es80iukafh0or4uq</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>urnetwork</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>urnetwork</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>338638865390-tdgpupo59durdck5es80iukafh0or4uq.apps.googleusercontent.com</string>
	<key>NEVPNConfiguration</key>
	<array>
		<string>network.ur.extension</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>PPNeueMontreal-Regular.ttf</string>
		<string>PPNeueBit-Bold.ttf</string>
		<string>ABCGravity-ExtraCondensed.otf</string>
		<string>ABCGravity-Extended.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>INIntentsSupported</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).DisconnectIntent</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).ConnectIntent</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
